html,body {
 height:100%;  /* new */
 background-color: #ffb3ff;
 background-image: url('../img/wallpaper.jpg');
 background-size: cover;

}

div.gueisha {
    background-color: #e18097;
    background-image: url('../img/gueisha_bg.png'), url('../img/sakura_bg.png');
    background-repeat: no-repeat, repeat-x;
    background-position: right bottom, center bottom;
    background-size: contain, contain;
}
progress {
    height: 36px;
}
.progress .meter {
    background-image: url('../img/ninja.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

ul#navigation {
    height: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-width: 1px 0;    
    text-align: center;
    font-size: 22px;
    font-family: 'Cham-WebFont', Arial, sans-serif;
    background-color: #ffb3ff;
    position: fixed;   /* new */
    bottom: 0;  /* new */
    width: 100%;  /* new */
}

ul#navigation li {
    display: inline;
    margin-right: .75em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#navigation li.last {
    margin-right: 0;
}

ul input {
    font-size: 25px;
    font-family: 'Cham-WebFont', Arial, sans-serif;
    color: #8080ff; background-color: #b3ffff;
    border: 0px;
    width: 95%;
    margin: 0px;
    padding: 30px;
    padding-left: 90px;
    padding-right: 90px;
}