@media (max-width: 640px) {
    /* CSS score (0, 0, 1, 1) */
    div.gueisha {
    	background-image: url('../img/sakura_bg.png');
    	background-repeat: repeat-x;
    	background-position: center bottom;
    	background-size: cover;
    }
}
